<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div style="display: flex;  justify-content: space-between;">
                    <div style="margin-top: 10px">
                        <input  placeholder="Search" type="text" class="form-control" (input)="searchByName($event.target.value)">
                    </div>
                    <button (click)="openDialog($event)" class="btn btn-primary">Add contact</button>
                </div>
              
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th> ID </th>
                            <th> Name </th>
                            <th> Gender </th>
                            <th> Email </th>
                            <th> Phone </th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of contacts">
                                <td> {{contact.id}}</td>
                                <td> {{contact.name}}</td>
                                <td> {{contact.gender}} </td>
                                <td> {{contact.email}}</td>
                                <td> {{contact.phone}}</td>
                                <td style=" display: flex">
                                    <a class="mr-2" (click)="openDialog(contact)">
                                        <i class="nc-icon nc-tap-01"></i>
                                    </a>
                                    <a style="color: #DC143C;" class="mr-2" (click)="deleteItem(contact.id)">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    </a>
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>