<div class="col-lg-12">
    <div class="container-fluid">
        <div class="float-left">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div><h1 class="text-title">Sing in</h1></div>
                    <div class="column">
                        <div class="col-12">
                            <label for="username">User Name</label>
                            <input 
                            formControlName="username"  
                            [(ngModel)]="authen.username" 
                            [ngClass]="{ 'is-invalid': submitted && f.username?.errors }"
                            type="text" 
                            class="form-control" 
                            placeholder="User name"
                            >
                        <div *ngIf="submitted && f.username?.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors?.required">Name is required</div>
                        </div>
                        </div>
                        <div class="col-12">
                            <label for="password">Password</label>
                            <input 
                                formControlName="password"
                                type="password" 
                                class="form-control" 
                                [(ngModel)]="authen.password" 
                                [ngClass]="{'is-invalid': submitted && f.password?.errors}">
                            <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors?.required">Password is required</div>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="float-right">
            <img src="../../../assets/img/thinhzd.jpeg" width="100%" height="100%">
        </div>
    </div>
</div>
