.container-fluid {
    display: flex;
    width: auto;
    height: 800px;
}
.container-fluid .float-left {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    padding-top: 200px
}

.container-fluid .float-right {
    width: 100%;
    height: 100%;
    background-color: blue;
}

.text-title {
    text-align: center;
}