<div class="col-lg-12 col-md-8">
    <div class="card card-user">
        <div class="card-header">
            <h5 class="card-title">Detail Contact</h5>
        </div>
        <div class="card-body">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>ID (disabled)</label>
                            <input 
                                [(ngModel)]="contact.id" 
                                [ngModelOptions]="{standalone: true}" 
                                type="text"
                                class="form-control" 
                                disabled="" 
                                placeholder="Id" 
                                value="ID contact">
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Name</label>
                            <input 
                                formControlName="name"  
                                [(ngModel)]="contact.name" 
                                [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                                type="text" 
                                class="form-control" 
                                placeholder="Full name"
                                >
                            <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                                <div *ngIf="f.name.errors?.required">Name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Gender</label><br />
                            <select 
                                class="form-control" 
                                [(ngModel)]="contact.gender" 
                                [ngClass]="{ 'is-invalid': submitted && f.gender.errors }"   
                                (change)="onEvent($event.target.value)" 
                                formControlName="gender"
                                >
                                <option class="form-control" *ngFor="let gen of genders"  [value]="gen" >{{gen}}</option>
                               
                            </select>
                            <div *ngIf="submitted && f.gender?.errors" class="invalid-feedback">
                                <div *ngIf="f.gender.errors?.required">Gender is required</div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>Email</label>
                            <input 
                                [(ngModel)]="contact.email" 
                                type="email" 
                                class="form-control" 
                                placeholder="Email"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                value="email" 
                                formControlName="email">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Phone number</label>
                            <input 
                                [(ngModel)]="contact.phone" 
                                [ngClass]="{'is-invalid': submitted && f.phone.errors}"
                                type="text" 
                                class="form-control"
                                placeholder="Phone number" 
                                value="phone" 
                                formControlName="phone">
                            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                <div *ngIf="f.phone.errors.required">Phone is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea [(ngModel)]="contact.description" [ngModelOptions]="{standalone: true}"
                                class="form-control textarea">Good morning</textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="update ml-auto mr-auto">
                        <button  type="submit" class="btn btn-primary btn-round">Update Contact</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>